<!-- header -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between"> <a routerLink="/dashboard"
            class="logo d-flex align-items-center"> <img src="assets/img/logo.png" alt=""> <span
                class="d-none d-lg-block">Student</span> </a> <i (click)="sidebarToggle()"
            class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i
                        class="bi bi-search"></i> </a></li>
            <li class="nav-item dropdown m-5">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span
                        class="badge bg-primary badge-number">5</span> </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header"> You have 5 new notifications</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item" *ngFor="let course of courselists">

                        <div>
                            <h4>{{course.name}}</h4>
                            <p>Course intake is {{course.intake}}</p>

                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                </ul>
            </li>

        </ul>
    </nav>
</header>
<!-- header end -->

<!-- sidebar -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item"> <a class="nav-link " routerLink="dashboards"> <i class="bi bi-grid"></i>
                <span>Dashboard</span> </a></li>

        <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i>
                <span>Profile</span> </a></li> -->
        <li class="nav-item"> <a class="nav-link collapsed" routerLink="enrollcourse"> <i class="bi bi-card-list"></i>
                <span>Enroll Course</span> </a></li>
        <li class="nav-item"> <a class="nav-link collapsed" routerLink="/"> <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span> </a></li>

    </ul>
</aside>
<!-- sidebar end -->
<router-outlet></router-outlet>