<app-navbar></app-navbar>
<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4"> <a routerLink="/"
                                class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">Log In</span> </a></div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                    <p class="text-center small">Enter your username & password to login</p>
                                </div>
                                <form class="row g-3 needs-validation" #userlogin="ngForm" (ngSubmit)="userverify()"
                                    novalidate>
                                    <div class="col-12">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            [(ngModel)]="userform.email" #email="ngModel"
                                            [class.is-invalid]="email.invalid && email.touched" required
                                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                        <small class="text-danger" [class.d-none]="email.valid || email.untouched"
                                            style="color: black; font-size: small,">
                                            Enter a valid email
                                        </small>

                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label> <input
                                            type="password" name="password" class="form-control" id="yourPassword"
                                            [(ngModel)]="userform.password" #password="ngModel"
                                            [class.is-invalid]="password.invalid && password.touched" required
                                            minlength="8"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[A-Za-z0-9]).{8,}$">
                                        <small class="text-danger" [class.d-none]="password.valid || password.untouched"
                                            style="color: black; font-size: small">Enter correct password</small>
                                    </div>

                                    <div class="col-12"> <button class="btn btn-primary w-100" type="submit"
                                            [disabled]="userlogin.form.invalid">Login</button></div>
                                    <div class="col-12">
                                        <p class="small mb-0">Don't have account? <a routerLink="/signup">Create
                                                an account</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="copyright-text text-center">Copyright &copy; 2023 All Rights Reserved by
                <a href="#">Blessy</a>.
            </p>
        </div>
    </div>
</div>